section.jobmanual
  h1 验尸官的助手
  p 今晚死人了，你是验尸官的助手。你可以选择一个今晚死去的人的尸体进行验尸。
  h2 特殊能力
  p 你可以选择一个今晚死去的人的尸体进行验尸，从而知道对方是狼人，感染者，或者只是个正常人。
  p 如果对方是中弹而死的，你可以宣布猎人错杀了正常人或者猎人成功解决了狼人或者感染者。
  p 宣布猎人错杀正常人的话，猎人的银弹技能成功率会下降。
  p 宣布猎人杀对了人的话，猎人的银弹技能成功率会上升。
  h2 胜利条件
  p 村人阵营的胜利。