section.jobmanual
  h1 平民
  p 魅影村里的平民。被感染可能变成狼人。
  p 可以使用魅影村民通用的拜访。
  p 作为魅影村村民，不投票也没关系。
  h2 特殊能力
  p 游戏中<strong>只限一次</strong>，可以拜访一个人。
  p 如果对方当晚出门了，会知道对方不在家。注意牧师的祈祷和神佑都是在家进行的，其他能力都需要出门。
  p 如果对方当晚没出门，可以和对方进行友好的对话（对方会知道你来访了）。  
  h2 胜利条件
  p 场上狼人全部被消灭。
