section.jobmanual
  h1 牧师
  p 魅影村里的牧师。以神的名义和力量拯救魅影村的平民们。
  p 牧师有4项技能，即分别是【净化】、【祈祷】、【奉献】和【神佑】。
  p 另外可以使用魅影村民通用的拜访。
  p 而且作为魅影村村民，不投票也没关系。
  h2 特殊能力
  p 游戏中<strong>只限一次</strong>，可以拜访一个人。
  p 如果对方当晚出门了，会知道对方不在家。注意牧师的祈祷和神佑都是在家进行的，其他能力都需要出门。
  p 如果对方当晚没出门，可以和对方进行友好的对话（对方会知道你来访了）。  
  p 净化：恢复一个被感染者。不能对牧师自己使用。如果对方还没有被【感染】，则今晚以及明晚都不会被【感染】影响。
  p 如果目标是一个狼人，该技能无效，牧师会收到技能无效的通知，同时该狼人也会收到通知，得知牧师的真实身份。如果净化目标是非狼人，则不会收到通知。
  p 祈祷：可以使牧师在当天的回合中，不会被狼人伤害到，即狼人的【吞噬】、【传染】技能在当天对牧师都没有作用。只能对牧师自己使用。成功概率：0.90
  p 奉献：师把自己的生命作为祭品献给圣光，当即死亡。所有感染者（处于转化期的平民）自动获得【净化】技能的效果，且该【净化】技能概率判定为1.0。
  p 如果该牧师此刻尚未被感染，则场上的一名猎人会得到一条线索，知道一名狼人的真实身份。
  p 神佑：牧师通过神圣系魔法祝福一位玩家，使其增强对狼人的防御能力（对【吞噬】有0.5抵抗概率，对【传染】有1的抵抗概率，即完全免疫感染），维持当晚及次日晚的时间。
  p 该技能对于狼人、处于感染期的平民无效。无论该技能是否生效，牧师都不会收到反馈信息；而被【神佑】的对象则都可以收到【私信】通知，但不能获知牧师的真实身份。
  h2 胜利条件
  p 场上狼人全部被消灭。
