section.jobmanual
  h1 猎人
  p 魅影村里的猎人。消灭那些憎恨人类的狼人吧。
  p 猎人有4项技能，即【银弹】、【圣水】、【罗盘】和【守护】，以及一项被动技能【传承】。
  p 另外可以使用魅影村民通用的拜访。
  p 而且作为魅影村村民，不投票也没关系。
  h2 特殊能力
  p 游戏中<strong>只限一次</strong>，可以拜访一个人。
  p 如果对方当晚出门了，会知道对方不在家。注意牧师的祈祷和神佑都是在家进行的，其他能力都需要出门。
  p 如果对方当晚没出门，可以和对方进行友好的对话（对方会知道你来访了）。  
  p 银弹：击毙游戏中的任何其他角色，无视角色身份。成功率会变动，初始值是1。
  p 圣水：在被狼人用【传染】技能咬到后，可以使用该技能抵消其作用，即不会转化为狼人，但只能对猎人自己使用。喝了就没了。
  p 罗盘：出门借着月光使用那个奇怪的古老罗盘，使用后，据说能反馈目前场上还活着的狼人的人数，并能随机给出一条有关场上一名玩家身份的线索。
  p 守护：猎人在夜晚寻找一名玩家，潜伏在其住所附近，静静等待狼人到来。
  p 如果当夜真的有狼人袭击该玩家，并且本技能成功，则该被袭击的玩家当晚被【吞噬】或【传染】的概率均下降0.3。
  p 成功护卫狼人袭击的话，无论狼人的袭击被判定成功与否，会有一些额外的效果。
  p 如果来的人不是狼人，则有0.5的概率对目标进行【银弹】。
  p 传承：在猎人被狼人【吞噬】遇害后，可以秘密指定一位平民为自己的继承人。该平民自动转化为【猎人】身份，获得【银弹】技能，可以在夜间行动。
  p 但是，这名二代猎人并不拥有普通猎人的其他【罗盘】【守护】【传承】技能。如果该猎人在死之前没有使用过【圣水】技能，则二代猎人继承该技能，仍为一次性使用。
  p 该技能对于狼人、正处于感染期的平民、牧师、猎人无效。
  h2 胜利条件
  p 场上狼人全部被消灭。
