section.jobmanual
  h1 二代猎人
  p 收到传承的二代猎人。消灭那些憎恨人类的狼人吧。
  p 二代猎人有2项技能，【银弹】、【圣水】。
  p 另外可以使用魅影村民通用的拜访。
  p 而且作为魅影村村民，不投票也没关系。
  h2 特殊能力
  p 游戏中<strong>只限一次</strong>，可以拜访一个人。
  p 如果对方当晚出门了，会知道对方不在家。注意牧师的祈祷和神佑都是在家进行的，其他能力都需要出门。
  p 如果对方当晚没出门，可以和对方进行友好的对话（对方会知道你来访了）。  
  p 银弹：击毙游戏中的任何其他角色，无视角色身份。成功率会变动，初始值是1。
  p 圣水：在被狼人用【传染】技能咬到后，可以使用该技能抵消其作用，即不会转化为狼人，但只能对猎人自己使用。喝了就没了。
  p 如果原猎没喝药，你才能拿到药。
  h2 胜利条件
  p 场上狼人全部被消灭。
