section.jobmanual
  h1 妖怪
  p 魅影村里的妖怪。深夜睡不着觉老在外头闲逛的妖怪，有改变自己阵营的能力。
  p 拥有【窥探】技能，默认为人类阵营的成员，但是，在牧师已经死亡的情况下，允许妖怪改换阵营。
  p 另外可以使用魅影村民通用的拜访。
  p 而且作为魅影村村民，不投票也没关系。
  h2 特殊能力
  p 游戏中<strong>只限一次</strong>，可以拜访一个人。
  p 如果对方当晚出门了，会知道对方不在家。注意牧师的祈祷和神佑都是在家进行的，其他能力都需要出门。
  p 如果对方当晚没出门，可以和对方进行友好的对话（对方会知道你来访了）。  
  p 窥探：可以在不被察觉的情况下知道对方当晚在不在家，且没有次数限制。只是偶尔会倒在来击杀被偷窥的人的狼与猎的手下。
  p 没被击杀时可以目睹全程。
  h2 胜利条件
  p 场上狼人全部被消灭。如果改变了胜利条件，则狼人的总人数超过人类的总数。